
.h1-bg {
    /* Stijl voor de achtergrondkleur, tekstkleur, padding en marges van h1-elementen */
    color: white;
    padding: 5px;
    margin: 5px;
}

.gamemodecontainer {
    /* Stijl voor de container van de gamemodi */
    border: 5px solid #000; 
    padding: 10px;        
    margin-top: 70px;      
    margin-left: 70px;      
    width: 200px;          
    background-color: rgb(182, 98, 98);
    position: absolute;     
    top: 60px;             
    left: 0;       
    display: flex;
    flex-wrap: wrap;
    justify-content: center;      
    color: #000;    
}

.levelcontainer {
    /* Stijl voor de container van de levels */
    border: 5px solid #000; 
    padding: 10px;        
    margin-top: 70px;      
    margin-left: 70px;      
    width: 200px;          
    background-color: rgb(182, 98, 98);
    position: absolute;     
    top: 60px;             
    left: 0;       
    display: flex;
    flex-wrap: wrap;
    justify-content: center;      
    color: #000;    
}

#knopje {
    /* Stijl voor de knop */
    border-radius: 15px;
    padding: 10px; 
}

.navbar {
    /* Stijl voor de navigatiebalk */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    box-sizing: border-box;
}

.pipi {
    /* Stijl voor het logo */
    display: flex;
    justify-content: left;
    width: 100px;
    height: 50px;  
}

.dropdown {
    /* Stijl voor de dropdown */
    display: inline-block;
}

.dropbtn {
    /* Stijl voor de dropdown-knop */
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding-right: 15px;
    cursor: pointer;
    font-family: Lato-Bold;
    font-size: 20px;
}

.dropdown-content {
    /* Stijl voor de inhoud van de dropdown */
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    /* Stijl voor de links in de dropdown */
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropdown-content a:hover {
    /* Stijl voor de hover-effecten op de links in de dropdown */
    background-color: #AA0000;
    color: white;
}

.dropdown:hover .dropdown-content {
    /* Stijl voor het weergeven van de dropdown-inhoud bij hover */
    display: block;
}

#foto {
    /* Stijl voor de afbeeldingen en video's */
    display: none;
    color: white;
}

.page {
    /* Stijl voor de paginainhoud */
    text-align: center;
    color: white;
}

.button-container {
    /* Stijl voor de container van de knoppen */
    border: 5px solid black;
    background-color: rgb(182, 98, 98);
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    /* Stijl voor de knoppen */
    border-radius: 15px;
    border: 2px solid palevioletred;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none; 
    color: #000; 
}

button a {
    /* Stijl voor de links binnen de knoppen */
    color: #000; 
    text-decoration: none;
}

button:hover {
    /* Stijl voor de hover-effecten op de knoppen */
    background-color: palevioletred; 
    color: #fff; 
}
