
.h1-bg {
    color: white;
    padding: 5px;
    margin: 5px;
  }
  ul#some_shit {
    color: white;
    list-style-type: none;
  }
  #some_shit h2, #some_shit h3, #some_shit h4, #some_shit h5, #some_shit h6 {
    margin: 0;
  }
  @font-face {
    font-family: Lato-Bold;
    src: url('fonts/Lato-Bold.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/HDBackground.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}
.gamemodecontainer {
    border: 5px solid #000; 
    padding: 10px;        
    margin-top: 70px;      
    margin-left: 70px;      
    width: 200px;          
    background-color: rgb(182, 98, 98);
    position: absolute;     
    top: 60px;             
    left: 0;       
    display: flex;
    flex-wrap: wrap;
    justify-content: center;      
    color: #000;    
}

.leveldecontainer {
    border: 5px solid #000; 
    padding: 10px;        
    margin-top: 70px;      
    margin-left: 70px;      
    width: 200px;          
    background-color: rgb(182, 98, 98);
    position: absolute;     
    top: 60px;             
    left: 1000px;  /* Aangepast om naast de eerste container te plaatsen */     
    display: flex;
    flex-wrap: wrap;
    justify-content: center;      
    color: #000;
}




.navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    
    width: 100%;
    box-sizing: border-box;
    
    
    
}

.navbar a {
    color: white;
    text-decoration: solid;
    margin-right: 15px;
    font-family: Lato-Bold;
    font-size: 20px;
}   

.pipi {
    display: flex;
    justify-content: left;
    width: 100px;
    height: 50px;  
}



.content {
    flex: 1;
    text-align: center;
    padding: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
    height: auto;
    margin: auto;
    margin-top: 10%;
    
}
.dropdown {
    display: inline-block;
}

.dropbtn {
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding-right: 15px;
    cursor: pointer;
    font-family: Lato-Bold;
    font-size: 20px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    
}

.dropdown-content a:hover {
    background-color: #AA0000;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#foto {
    display: none;
    color: white;
}
.page {
    text-align: center;
    color: white;

}
.button-container {
    border: 5px solid black;
    background-color: rgb(182, 98, 98);
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    border: 2px solid palevioletred;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none; /* Verwijder onderstreping van de links */
    color: #000; 
}
button a {
    color: #000; /* Behoud de oorspronkelijke tekstkleur voor de linktekst */
    text-decoration: none;
}

button:hover {
    background-color: palevioletred; /* Voeg een achtergrondkleur toe wanneer de knop wordt gehoverd */
    color: #fff; /* Tekstkleur wijzigen wanneer gehoverd */
}
#gameContainer{
    text-align: center;
   
}
#gameBoard{
    border: 3px solid;
    color: red;
    
}
#scoreText{
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
}
#resetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}
.log {
    border: 5px solid;
    border-radius: 30px;
    width: 150px;
    
    }