// Define a namespace for fonts
$fonts: ('Lato-Bold', 'fonts/Lato-Bold.ttf');

// Mixins
// ====================

// Define a mixin for setting font-face
@mixin font-face($font-family, $font-path) {
  @font-face {
    font-family: $font-family;
    src: url($font-path);
  }
}

// Define a mixin for setting font-family
@mixin font-family($font-family) {
  font-family: $font-family, Arial, sans-serif;
}

// Define a mixin for setting background
@mixin background($color) {
  background-color: $color;
}

// Define a mixin for setting margin
@mixin margin($value) {
  margin: $value;
}

// Define a mixin for setting padding
@mixin padding($value) {
  padding: $value;
}

// Define a mixin for setting border-radius
@mixin border-radius($value) {
  border-radius: $value;
}

// Define a mixin for setting transition
@mixin transition($property, $duration) {
  transition: $property $duration;
}

// Define a mixin for setting hover effect
@mixin hover($property, $value) {
  &:hover {
    #{$property}: $value;
  }
}

// Define a mixin for setting active effect
@mixin active($property, $value) {
  &:active {
    #{$property}: $value;
  }
}

// Define a mixin for setting focus effect
@mixin focus($property, $value) {
  &:focus {
    #{$property}: $value;
  }
}

// Define a mixin for setting disabled effect
@mixin disabled($property, $value) {
  &:disabled {
    #{$property}: $value;
  }
}

// Define a mixin for setting visibility
@mixin visibility($value) {
  visibility: $value;
}

// Define a mixin for setting display
@mixin display($value) {
  display: $value;
}

// Define a mixin for setting flex
@mixin flex($value) {
  display: flex;
  flex: $value;
}

// Define a mixin for setting justify-content
@mixin justify-content($value) {
  justify-content: $value;
}

// Define a mixin for setting align-items
@mixin align-items($value) {
  align-items: $value;
}

// Define a mixin for setting position
@mixin position($value) {
  position: $value;
}

// Define a mixin for setting top
@mixin top($value) {
  top: $value;
}

// Define a mixin for setting right
@mixin right($value) {
  right: $value;
}

// Define a mixin for setting bottom
@mixin bottom($value) {
  bottom: $value;
}

// Define a mixin for setting left
@mixin left($value) {
  left: $value;
}

// Define a mixin for setting width
@mixin width($value) {
  width: $value;
}

// Define a mixin for setting height
@mixin height($value) {
  height: $value;
}

// Define a mixin for setting min-width
@mixin min-width($value) {
  min-width: $value;
}

// Define a mixin for setting min-height
@mixin min-height($value) {
  min-height: $value;
}

// Define a mixin for setting max-width
@mixin max-width($value) {
  max-width: $value;
}

// Font Faces
// ====================
@include font-face(nth($fonts, 1), nth($fonts, 2));

// Base Styles
// ====================

body {
  background-image: url("img/background.jpg");
  background-attachment: fixed; /* Hiermee wordt de achtergrondafbeelding vastgezet */
  text-align: center;
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  @include justify-content(center);
}

// Footer Styles
// ====================

.footer {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include padding(15px);
  @include background(rgba(0, 0, 0, 0.5));
  @include width(100%);
  box-sizing: border-box;
}

// Navbar Styles
// ====================

.navbar {
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);
  @include padding(15px);
  @include background(rgba(0, 0, 0, 0.5));
  @include width(100%);
  box-sizing: border-box;
  @include position(fixed); /* Make the navbar static so it scrolls with the page */
  @include top(0);
  z-index: 1000;
}

.nav-links {
  list-style-type: none; /* Verwijder de standaard puntjes */
  @include padding(0);
  @include margin(0);
  @include display(flex); /* Zorg ervoor dat de links horizontaal naast elkaar staan */
}

.nav-links li {
  @include margin-right(20px); /* Voeg ruimte tussen de links toe */
}

.nav-links a {
  text-decoration: none; /* Verwijder onderstreping van de links */
  color: #000; /* Stel de kleur van de links in */
  /* Voeg hier eventueel andere stijlen voor je links toe */
}

.navbar a {
  color: white;
  text-decoration: none; /* changed from solid to none */
  @include margin-right(15px);
  @include font-family('Lato-Bold');
  font-size: 20px;
}

// Additional Styles
// ====================

.pipi {
  @include display(flex);
  @include justify-content(left);
  @include width(100px);
  @include height(50px);
}

.content, .content2 {
  flex: 1;
  text-align: center;
  @include padding(50px);
  color: white;
  @include background(rgba(0, 0, 0, 0.5));
  @include width(400px);
  height: auto;
  margin: auto;
  @include margin-top(50px); /* Adjust the margin-top if needed */
  @include padding-top(50px);
}

.content2 {
  @include display(flex);
  flex-direction: column; // change this to column
  @include align-items(center); // center elements horizontally
}

.project {
  color: pink;
  text-decoration: none;
  @include margin-left(10px);
  @include padding(1px 10px);
  border: 2px solid purple;
  @include border-radius(5px);
}

// Dropdown Styles
// ====================

.dropdown {
  display: inline-block;

  .dropbtn {
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: none;
    @include padding-right(15px);
    cursor: pointer;
    @include font-family('Lato-Bold');
    font-size: 20px;
  }

  .dropdown-content {
    display: none;
    @include position(absolute);
    @include background(rgba(0, 0, 0, 0.5));
    @include min-width(160px);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      color: white;
      @include padding(12px 16px);
      text-decoration: none;
      @include display(block);
      font-size: 15px;
    }
  }

  &:hover .dropdown-content {
    display: block;
  }
}

// Footer Styles
// ====================

footer {
  @include position(fixed);
  @include bottom(0);
  @include left(0);
  @include right(0);
  @include padding(10px);
  background-color: #333;
  color: #fff;
  text-align: center;

  p {
    @include margin(0);
  }

  a {
    color: #fff;
    text-decoration: none;
    @include margin-left(10px);
    @include padding(5px 10px);
    border: 1px solid #fff;
    @include border-radius(5px);
    @include transition(background-color, 0.3s ease);

    &:hover {
      @include background(#fff);
      color: #333;
    }
  }
}

// Input Container Styles
// ====================

.input-container {
  @include display(flex);
  flex-direction: column;
  @include margin-bottom(10px);

  label {
    @include padding-right(10px);
    text-align: left;
  }

  input,
  select,
  textarea {
    @include margin-top(5px);
  }
}

// Media Queries
// ====================

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    @include align-items(flex-start);
    @include position(static);
    @include width(100%);
  }

  .nav-links {
    flex-direction: column;
    @include width(100%);
  }

  .nav-links li {
    @include margin(10px 0);
  }

  .nav-links a {
    @include padding(10px);
    @include width(100%);
    text-align: left;
  }

  .content ul {
    @include padding-left(0);
  }

  .content ul li {
    @include margin-bottom(20px);
  }

  .content a.project {
    @include display(block);
    @include margin-top(5px);
  }
}
.mail{
  color: white;
}