@font-face {
    font-family: Lato-Bold;
    src: url('fonts/Lato-Bold.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/HDBackground.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: right;
    
}

.navbar a {
    color: #AA0000;
    text-decoration: solid;
    margin-right: 15px;
    font-family: Lato-Bold;
    font-size: 20px;
}
.navbar img {
  width: 100px;
  height: 50px;  
}


.content {
    flex: 1;
    text-align: center;
    padding: 50px;
    color: #ff1919;
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
    height: auto;
    margin: auto;
    margin-top: 10%;
    
}
.dropdown {
    display: inline-block;
}

.dropbtn {
    color: #AA0000;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding-right: 15px;
    cursor: pointer;
    font-family: Lato-Bold;
    font-size: 20px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #AA0000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    
}

.dropdown-content a:hover {
    background-color: #AA0000;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

